.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  #0d4ff2;
}

.about-link {
    list-style: none;
}

.Link {
    text-decoration: none;
}