.landing-page {
    background: #2c0ded;
    background: -webkit-linear-gradient(48deg, #2c0ded 0%, #a39aef 100%);
    background: linear-gradient(48deg, #2c0ded 0%, #a39aef 100%);
    height: 100vh;
}