.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0d4ff2;
}

.footer--logo {
    font-size: 1rem;
    margin-bottom: 20px;
}

.footer--items {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;
}